*{
    font-family: 'Karma', serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1rem;
}

.principal{
    background-color: #f0f4ef;
}

h1{
    font-size: 2rem;
    margin:auto;
    margin-top: 40px;
    font-weight: 700;
    color: #1C3245;
}

.barraNavegacion{
    background-color: #1C3245;
}

.tituloNav{
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.titulosSecundariosNav{
    font-size: 0.9rem;
}

.bordeNav{
    border-top: white solid 1px;
}

.imagen{
    margin: auto;
    margin-top: 0px;
    width: 83%;
    height: 100%;
}
h2{
    margin-top: 20px;
    margin-left: 10px;
}
.Driver{
    background-color: #f0f4ef;
}
.texto{
    margin: 15px;
    text-align: justify;
}