*{
    font-family: 'Karma', serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
}
body{
    position: relative;
}

.barraNavegacion{
    background-color: #1C3245;
}

.tituloNav{
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.titulosSecundariosNav{
    font-size: 0.9rem;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: #1C3245;
    width: 100%;
    height: 3.5em;
}
ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
footer ul li{
    margin-right: 1em;
    margin-top: 1.2em;
    list-style-type: none;
    color: white;
    /*font-weight: bold;*/
    cursor: default;
    transition: transform 0.5s;
    will-change: transform;
    
}
footer ul li:hover{
    color: #5eaff7;
    /*transition: transform 0.5s;*/
    transform: scale3d(1.1, 1.1, 1);
}